*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
h1{
    text-align: center;
    color: brown;
    margin-top: 60px;
}
p{
    text-align: center;
    font-weight: bold;
}
img{
    margin-left: 30%;
}