.signin-box{
    /* height: 550px; */
    width: 480px;
    border: 2px solid grey;
    margin-left: 35%;
    margin-top: 4%;
    padding-top: 4%;
    padding-bottom: 25px;
}
.signIn{
    padding-top:10%; 
}
@media (max-width: 760px){
    .signin-box{
        margin: 5% 15%;
        width: 400px;
    }
}