.Nav{
    background: rgb(65, 63, 100);  
     width: 100%;   
     color: white;
     height: 70px;
     
} 
 .Nav a{
    color: white;
    text-decoration: none;
    transition: all 0.2s ease 0s;
}
.Nav a:hover{
    font-weight: bold;
}
.brand{
    font-weight:900;
    font-style: italic;   
} 


@media (max-width: 760px){
   .Nav{
       flex-direction:column;
       height: 200px;
       height: 10%;
       width: 130%;
   }
   .Nav a{
       padding: 2%;
       /* margin: 12%; */
   }
   .login{
       padding: 2% 6% !important;
       margin: 2% 0%;
   }
    }